body{
    font-family: 'Oxygen', sans-serif;
}

h1{
    font-size: 60px;
    line-height: 20px;
    }
p{
    font-weight: lighter;
    line-height: 20px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
   

}
.deep-orange{
    color: hsl(32, 100%, 50%);
}
section{
    display: flex;
}
.half-width{
    width: 50%; 
    padding-left: 10%;
    padding-right: 5px;
   
}
.half-width img{
    width: 1000px; 
}
.heading{
    padding-top: 20%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(255, 123, 0);
    border-radius: 50px;
    padding: 15px 25px 15px 25px;
    color: white;

}
    
