body{
    font-family: 'Oxygen', sans-serif;
}

h1{
    font-size: 60px;
    line-height: 20px;
    }
p{
    font-weight: lighter;
    line-height: 40px;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
   

}
.deep-orange{
    color: hsl(32, 100%, 50%);
}
section{
    display: flex;
}
.half-width{
    width: 40%; 
    padding-left: 10%;
    padding-right: 20px;
    padding-top: 5%;
    padding-bottom: 60px;
   
}
.half-width img{
    width: 1000px; 
}
.heading{
    padding-top: 15%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(255, 123, 0);
    border-radius: 50px;
    padding: 20px 30px 20px 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}
.two img{
    width: 50%; 
    padding-left: 60%;
    padding-top: 20%;
}
.twoo{
    width: 50%;
    padding-right: 20%;
    padding-top: 10%;
    padding-left: 15%;
    padding-bottom: 5%;
    font-weight: lighter;
    line-height: 90px;
    font-size: 90px;
}
    
h2{
        font-size: 35px;

    }
.middle-banner{
    background-image: url(images/Frame\ 57.jpg);
    
    
}     
